   /* 全体共通 */
   /* html {
    scroll-behavior: smooth;
} */

body {   
    background-color: #817d7a;
    background-image: url(../img/backimg.png);
    background-size: 100%; 
    background-position: center top; 
    background-blend-mode: overlay;



    font-family: "Open Sans", serif;
}
.section2 .menu-button-container,
.section3 .menu-button-container,
.section4 .menu-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.section3 .menu-button-container {
    margin-top: 100px;
}

.section2 .menu-button-wrapper,
.section3 .menu-button-wrapper,
.section4 .menu-button-wrapper{
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none; /* リンクの下線消す */
    color: inherit;
}

.section2 .open-menu-icon,
.section3 .open-menu-icon{
    width: 200px;
    height: auto;
    display: block;
    opacity: 0.9;
}
.section4 .open-menu-icon {
    width: 180px;
    height: auto;
    display: block;
    opacity: 0.9;
    z-index: 5;
}
/* .section4 .menu-button-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px; 
    height: 150px;
    background-color: #f8f8f85d; 
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 4; 
} */


.menu-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 500;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    z-index: 7;
}


main {
    position: relative; 
}
main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%; 
    background-position: center top; 
    z-index: -3;
}


/* 以下 */
.container{
    max-width: 1120px;
    margin: 0 auto ;
}
h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 20px auto;
    line-height: 1.3;
}
h2{
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin: 20px auto;
    line-height: 1.5;
}
p{
    font-size: 18px;
    margin: 20px auto;
    line-height: 1.8;
    text-align: left;
}
img{
    border-radius: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col {
    position: relative;
}


header {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 90vh;
    background-size: cover;
    background-image: url(../img/kings-cafe.png);
    background-position: center center;
    background-repeat: no-repeat;
}
header .logo img {
    width: 250px;
    margin-bottom: 10px;
}
header .logo {
    display: flex;
    justify-content: center;
    width: 100%;
}
header .left {
    position: relative;
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  #c9c9c9e7;
    background-image: url(../img/mame.png.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
header .left::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0; 
    width: 2px;
    height: 100%;
    background-color: white; 
    z-index: 2; 
}
header .left a{
    position: relative;
    text-align: center;
}
header .right {
    flex-basis: 75%;
    display: flex;
    align-items: flex-end; 
    position: relative;
}
header .right::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: #c9c9c9e7;
    left: 0;
    z-index: 0; 
}
header .right .container {
    max-width: 1120px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10%; 
    position: relative;
    z-index: 1; 
}
header .right .text-container {
    max-width: 500px; 
    text-align: left;
}
header .right .tema-bottom {
    line-height: 1.8;
    color: #333;
    padding-top: 20px;
}
header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   align-items: center;
    transition: all 0.5s ease-in-out; 
    opacity: 1;
    transform: translateY(0);
}
header .inner-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
header nav a {
    display: inline-block;  
    text-align: center;
    width: auto;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin: 10px 0;
    text-decoration: none;
    transition: color 0.3s ease;
}
header nav a:hover {
    color: #b18305cc;
}
header nav.sticky {
    flex-direction: row;
    justify-content: center;
    background-color: #b18305cc;
    padding: 25px 0 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out; 
    opacity: 1;
    transform: translateY(-20px); 
}
header nav.sticky .inner-nav {
    display: flex;
    flex-direction: row; 
    justify-content: center;
}
header nav.sticky a {
    margin: 15px 30px;
    font-size: 18px;
}
header h1{
     font-size: 40px;
     margin: 0 10% 10px;
     font-family: "Kalam", serif;
     font-weight: 700;
     font-style: normal;
}

/* 
.section2 .col {
    outline: 2px solid red;
}
 */

/*メイン*/
.section0 {
    height: 1400px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.section0 img{
    position: absolute;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}
/* 麻婆 */
.photo1 {
    width: 300px;
    top: 650px;
    left: 250px;
}
/* タルタル */
.photo2 {
    width: 350px;
    top: 500px;
    left: -90px;
}
/* ハンバーグ */
.photo3 {
    width: 650px;
    top: 80px;
    right:-200px;
}
/* 竜田 */
.photo4 {
    width:300px;
    top: 1000px;
    right: 100px;
}
/* 冷しゃぶ */
.photo5 {
    width: 250px;
    top: 1120px;
    right: 400px;
}
/* オムライス */
.photo6 {
    position: absolute;
    width: 600px;
    top: 950px;
    left: -150px;
    z-index: 3;
}
/* インスタ */
.photo7{
    width: 100px;
    height: auto;
    max-width: 100px;
    top: 950px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
}
.section0 h1, .section0 h2 {
    position: relative;
    z-index: 3;
}
.section0 h2 {
    top: 300px; 
    /* left: 100px; */
}
.section0 h1.lunch{
    top: 200px;
}
.section0 h1.instagram {
    top: 850px;  
    text-align: center;
}
.section0 h1, .section0 p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
}






.section1 {
    margin-bottom: 100px;
    position: relative;
    height: 600px;
    background: 
        linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%),
        url(../img/ful1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.section1 .container {
    max-width: 1120px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.section1 .text-container {
    flex-basis: 40%;
    max-width: 500px; /* 必要に応じて調整 */
    text-align: left;
    color: #fdf4f4;
}





.section2 {
  padding-top: 150px;
    margin-bottom: 150px;
    overflow: hidden;
}
.section2 img{
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 50px 0 50px;
    position: relative;
    z-index: 3;
}
.section2 .moorning_section .sukasi{
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    font-size:200px;
    font-weight: 500;
    color: #817d7acc;
    opacity: 0.3;
    z-index: 1;
    white-space: nowrap;
  
}
.section2 .lunch_section .sukasi{
    position: absolute;
   right: 0;
    transform: translateY(-50%);
    font-size:200px;
    font-weight: 500;
    color: #817d7acc;
    opacity: 0.3;
    z-index: 1;
    white-space: nowrap;
}
.section2 .moorning_section {
    position: relative;
}
.section2 .moorning_section .col:first-child {
    flex-basis: 60%;
    position: relative;
}
.section2 .moorning_section .col:last-child {
    flex-basis: 40%;
    position: relative;
    text-align: center;
}
.waku{
    position: absolute;
    height: 450px;
    width: 600px;
    max-width: 600px;
    background-color: #b18305cc;
    top: 100px;
    left: -50px;
    border-radius: 10px;
}
.section2 .lunch_section {
    position: relative;
}
.section2 .lunch_section .col:first-child {
    flex-basis: 40%;
    position: relative;
    text-align: left;
}
.section2 .lunch_section .col:last-child {
    flex-basis: 60%;
    position: relative;
    text-align: right;
}


.section3{
    height: 900px;
}
.section3 p{
    text-align: center;
    line-height: 5;
}
.purin-group{
    position: relative;
}
.syu-group{
    position: relative;
}
.dezpic1 {
    position: absolute;
    z-index: 2;
    width: 300px;
    height: auto;
    top: -500px;
}
.dezpic2 {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: auto;
    top: -250px;
    left: -100px;
}
.waku1{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: #b18305cc;
    top: -450px;
    left: -50px;
    border-radius: 10px;
}
.dezpic3 {
    position: absolute;
    z-index: 2;
    width: 300px;
    height: auto;
    top: 50px;
    right: 0;
    
}
.dezpic4 {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: auto;
    top: 300px;
    right: 100px;
}
.waku2{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: #b18305cc;
    top: 100px;
    right: 50px;
    border-radius: 10px;
}


.section4{
    position: relative;
    margin-top: 100px;
    height: 900px;
    z-index: 3;
}
.section4 .s3drink1{
   width: 300px;
}
.section4 .s3drink2{
    width: 300px;

}
.section4 .s3drink3{
    width: 300px;
}
.section4 .col {
    text-align: center;
}
.section4 .image-area {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
}
.section4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section4 .waku {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(177, 131, 5, 0.8);
    top: 65%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 10px;
}
.section4 .col:nth-child(1) {
    transform: translate(0, 0);
}

.section4 .col:nth-child(2) {
    transform: translate(0, 20px);
}

.section4 .col:nth-child(3) {
    transform: translate(0, 40px); 
}
.section4 p{
    font-size: 18px;
    margin: 6px auto;
    line-height: 1.8;
    text-align: left;
}



footer{
    position: relative;
    padding-top: 50px;
    background: linear-gradient(to top, 
        rgba(10, 11, 12, 1) 0%,        
        rgba(10, 11, 12, 0.5) 400px,  
        rgba(10, 11, 12, 0.9) 900px    
    ), #0a0b0c; 
}
footer .container{
    padding-top: 100px;
    position: relative;
    /* background-color: #f8f8f838; */
    z-index: 3;
}
footer .row{
    background-color: #817d7acc;
    position: relative;
    z-index: 2;
}
footer .col{
    flex-basis: 50%;
    text-align: center;
    /* padding: 0 0 0 20px; */
    margin-bottom: 20px;
}
footer img{
    position: relative;
    z-index: 3;
}
footer .footer-text{
    position: relative;
    text-align: center;
    z-index: 3;
    color: #f8f8f8;
}
.map-container {
        width: 100%;
        max-width: 600px;
        position: relative;  
        z-index: 3;
}
.car-map2{
    position: relative;
    width: 400px;
    height: auto;
    z-index: 3;
}
.big  { 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    max-width: 100%; 
    height: auto;
    z-index: 2; 
    
    mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0px,     
        rgba(0, 0, 0, 1) 700px,   
        rgba(0, 0, 0, 1) 850px,   
        rgba(0, 0, 0, 0.5) 100%     
    );

    -webkit-mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0px,
        rgba(0, 0, 0, 1) 700px,
        rgba(0, 0, 0, 1) 850px,
        rgba(0, 0, 0, 0.5) 100%
    );
}